@config "./tailwind.config.js";
@import "tailwindcss";

@font-face {
  font-family: 'Unageo';
  src: url('./assets/fonts/Unageo-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Unageo-SemiBold';
  src: url('./assets/fonts/Unageo-SemiBold.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Unageo-Bold';
  src: url('./assets/fonts/Unageo-Bold.ttf');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Unageo-ExtraBold';
  src: url('./assets/fonts/Unageo-ExtraBold.ttf');
  font-weight: 400;
  font-style: normal;
}

:root {
  /*font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;*/
  font-family: 'Unageo', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #161616;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}